<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <ul class='nav navbar-nav'>
            <li ng-class='{ active: PAGE === "all"}'><a href='/records'> All Records </a></li>
            <li ng-class='{ active: PAGE === "new"}'><a href='/record/new'> New Records </a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
            <li><a href='/logout' target='_self'> Log Out </a></li>
        </ul>
    </div>
</nav>
