<form novalidate class="form-horizontal">

	<div class='form-group'>
		<label class='col-sm-3 control-label'>Date (yyyy-mm-dd)</label>
		<div class='col-sm-6'>
			<input ng-model='record.date[0]' type='text' class='form-control'/>
		</div>
		<div class='col-sm-3'></div>
	</div>

	</br>

	<div class='form-group'>
		<label class='col-sm-3 control-label'>Weight (kg)</label>
		<div class='col-sm-6'>
			<input ng-model='record.weight[0]' type='number' class='form-control'/>
		</div>
		<div class='col-sm-3'></div>
	</div>

	</br>

	<div class='form-group'>
		<label class='col-sm-3 control-label'>Note</label>
		<div class='col-sm-6'>
			<input ng-model='record.note[0]' type='text' class='form-control'/>
		</div>
		<div class='col-sm-3'></div>
	</div>

	<div class='form-group'>
		<div class="col-sm-offset-9 col-sm-3">
            <button class='btn btn-primary' ng-click='save()'>  Save Record  </button>
        </div>
    </div>

</form>